<p id="notice"><%= notice %></p>
<h3>Pagina do <%= @user.name %></h3>


<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user),class: "btn btn-mini btn-primary" %> |
<%= link_to 'Back', users_path, class: "btn btn-mini" %>
</br>
</br>
<div class="form-actions">

<%= link_to "See all #{@user.name} microposts", user_microposts_path(@user, @microposts), class: "btn"%>

</div>