<h1><%= @user.name %>'s microposts</h1>

<table class = "table">
  <tr>
    <th>Conteudo</th>
    <th>Data</th>
    
    <th></th>
    <th></th>
  </tr>

<% @microposts.each do |micropost| %>
  <tr>
    <td><%= link_to micropost.content, user_micropost_path(@user, micropost) %></td>
    <td><%= micropost.created_at %></td>
    
    <td><%= link_to 'Alterar', edit_user_micropost_path(@user, micropost), class: "btn btn-small btn-info" %></td>
    <td><%= link_to 'Eliminar', user_micropost_path(@user, micropost), class: "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
<%= link_to '+ Novo Micropost', new_user_micropost_path(@user), class: "btn btn-large btn-block btn-primary" %>
</br>


<%= link_to @user.name + ' Page', user_path(@user), class: "btn btn-large btn-block" %>

</div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  
</div>