<h1><%= @user.name %>'s microposts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>TimeStamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @microposts.each do |micropost| %>
  <tr>
    <td><%= micropost.content %></td>
    <td><%= micropost.created_at %></td>
    <td><%= link_to 'Show', user_micropost_path(@user, micropost) %></td>
    <td><%= link_to 'Edit', edit_user_micropost_path(@user, micropost) %></td>
    <td><%= link_to 'Destroy', user_micropost_path(@user, micropost), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micropost', new_user_micropost_path(@user) %>
</br>


<%= link_to @user.name + ' Page', user_path(@user) %>
