<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @micropost.content %>
</p>

<p>
  <b>User:</b>
  <%= @micropost.user_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @micropost.created_at %>
</p>


<%= link_to 'Edit', edit_user_micropost_path(@user,@micropost) %> |
<%= link_to 'Back', user_micropost_path%>

</br>
</br>

<%= link_to 'Home Page', users_path %>